.dashboard {
  padding: 20px;
}

.metrics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.metric-item {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 200px;
  max-width: 300px;
}

.metric-item h2 {
  margin-top: 0;
}

.metric-item ul {
  list-style-type: none;
  padding: 0;
}

.metric-item li {
  margin-bottom: 10px;
}
